
@{
    ViewBag.Title = "Pessoa";
    Layout = "~/Views/PaginaLogin.cshtml";
}

<div class="signinform">
    <h1>Login Accurate Delivery</h1>

    <div class="container">

        <div class="w3l-form-info">
            <div class="w3_info">
                <h2>Login</h2>
                <form action="#" method="post">
                    <div class="input-group">
                        <span><i class="fas fa-user" aria-hidden="true"></i></span>
                        <input type="email" name="Email" placeholder="Use seu E-mail" required="">
                    </div>
                    <div class="input-group">
                        <span><i class="fas fa-key" aria-hidden="true"></i></span>
                        <input type="Password" name="SenhaAcesso" placeholder="Senha" required="">
                    </div>
                    <div class="form-row bottom">
                        <div class="form-check">
                            <input type="checkbox" id="remenber" name="remenber" value="remenber">
                            <label for="remenber">Lembre de mim?</label>
                        </div>
                        <a href="#url" class="forgot">Esqueceu a senha?</a>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Login</button>
                </form>
                <p class="account">Não tem uma conta? <a href="#signup">Inscrever-se</a></p>
            </div>
        </div>
    </div>
    <div class="footer">
        
    </div>
</div>
<script src="js/fontawesome.js"></script>